<ul>
  <% @articles.each do |article| %>
    <li>$<%= article.price %> - <%= link_to article.title, category_article_path(@category, article) %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Add posting', new_category_article_path(@category) %>
<% end %>
